# fly.toml app configuration file generated for han-tyumi on 2024-08-23T19:08:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'han-tyumi'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpu_kind = 'performance'
  cpus = 2
